<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <!-- Ensures MathJax works -->
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <script type="text/javascript"
    src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  {% include head.html %}

  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      {% include header.html %}
      {{ content }}
    </div>
  </body>
</html>
