<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <!-- Ensures MathJax works -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript"
    src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  {% include head.html %}

  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      {% include header.html %}
      {{ content }}
    </div>
  </body>
</html>
