---
layout: default
---

<!-- class="row g-5 mb-5" -->

<div class="row mb-5">
  <div class="col-md-8">
  I am a second-year PhD student in mathematics at the <a href="https://math.nd.edu/" target=_blank>University of Notre Dame</a>.
  My research focuses on algebraic topology and category theory; I'm currently interested in topological field theories, $\infty$-categories, and a little bit of categorical logic.
  My advisors are <a href="https://www3.nd.edu/~stolz/" target=_blank>Stephan Stolz</a> and <a href="https://sites.nd.edu/chris-schommer-pries/?utm_campaign=redirect&utm_medium=web&utm_source=blogs.nd.edu" target=_blank>Christopher Schommer-Pries</a>.

  <br><br>

  When I have time I fold origami. I may post pictures of them here.

  <br><br>

  <a href="/assets/fls/cv.pdf" target=_blank>Here</a> you can find a (hopefully updated) copy of my CV.

  <br><br>
  
  </div>

  <div class="col-md-4" style="text-align: center">
    <img src="/assets/img/hydrangea-clover.jpg" alt="hydrangea-clover" width="95%">
    <br> <i>One version of Fujimoto's Hydrangea.</i>
  </div>
</div>
