---
layout: default
---

<!-- Makes the "Origami" page -->

<div class="row mb-5">
  <h4 class="fw-bold">Origami</h4>
  <div class="col-md-8">
    something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something something
  </div>

  <div class="col-md-4" style="text-align: center">
    <img src="/assets/img/ori1.jpeg" alt="hydrangea-clover" width="95%">
  </div>
</div>
