---
layout: default
---

<!-- Makes the "Origami" page -->

<h4 class="fw-bold">Origami</h4>
<br> <br>
<div>
  <div class="column">
    <div class="row">
      <div class="col-md-6" style="text-align: center">
        <img src="/assets/img/ori1.jpeg" alt="bullfrog" width="95%">
        <br> 22.3.2022: <i>Bullfrog</i>, by Roman Diaz.
      </div>

      <div class="col-md-6" style="text-align: center">
        <img src="/assets/img/hydrangea-clover.jpg" alt="hydrangea-clover" width="95%">
        <br> <i>One version of Fujimoto's Hydrangea.</i>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: center">
        <img src="/assets/img/hydrangea-clover.jpg" alt="hydrangea-clover" width="95%">
        <br> <i>One version of Fujimoto's Hydrangea.</i>
      </div>

      <div class="col-md-6" style="text-align: center">
        <img src="/assets/img/hydrangea-clover.jpg" alt="hydrangea-clover" width="95%">
        <br> <i>One version of Fujimoto's Hydrangea.</i>
      </div>
    </div>
  </div>
</div>
