---
layout: default
---

<!-- Makes the "Origami" page -->

This is a digital diary of the models I have folded, starting from March 2022. I have a terrible memory so this is one way to remember what models I like.
<br> <br>
<div>
  <div class="column">
    <div class="row">
      <div class="col-md-6" style="text-align: center">
        <img src="/assets/img/ori1.jpeg" alt="bullfrog" width="95%">
        <br> 22.3.2022: <i>Bullfrog</i>, by Roman Diaz.
      </div>

      <div class="col-md-6" style="text-align: center">
        <img src="/assets/img/ori2.jpeg" alt="axolotl" width="95%">
        <br> 23.3.2022: <i>Axolotl</i>, by kaaakun.
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6" style="text-align: center">
        <img src="/assets/img/hydrangea-clover.jpg" alt="hydrangea-clover" width="95%">
        <br> <i>One version of Fujimoto's Hydrangea.</i>
      </div>

      <div class="col-md-6" style="text-align: center">
        <img src="/assets/img/hydrangea-clover.jpg" alt="hydrangea-clover" width="95%">
        <br> <i>One version of Fujimoto's Hydrangea.</i>
      </div>
    </div>
  </div>
</div>
