---
layout: default
---

<!-- Makes the "Seminar" page -->

<div class="row g-5 mb-5">
  <div>
    <h4 class="fw-bold">Graduate Student Seminar</h4>
    I am co-organizing Notre Dame's Graduate Student Seminar with Ilya Marchenko. The current and past schedules can be found <a href="https://hackmd.io/@gss-org/gss" target=_blank>here</a>, and this page has the schedule for Spring 2022.

    <br><br>

    We meet on Thursday at 2 PM EST (unless otherwise specified) and all talks are streamed <a href="https://notredame.zoom.us/j/95815357423" target=_blank>on Zoom</a>. Online attendees are welcome!
  </div>

  <br><br>

  <div style="overflow-x: auto">
    <table style="width:90%;margin-left:auto;margin-right:auto">
      <tr style="border-bottom: 1px solid black;">
        <th style="width:15%; border-right: 1px solid black; padding: 5px">Speaker</th>
        <th style="width:15%; border-right: 1px solid black; padding: 5px">Affiliation</th>
        <th style="width:60%; border-right: 1px solid black; padding: 5px">Title</th>
        <th style="width:10%; padding: 5px">Date</th>
      </tr>

      {% for item in site.data.seminar_entries.entries %}
      <tr>
        <td style="border-right: 1px solid black; padding: 5px"><a href="{{ item.web }}" target=_blank>{{ item.name }}</a></td>
        <td style="border-right: 1px solid black; padding: 5px">{{ item.affiliation }}</td>
        <td style="border-right: 1px solid black; padding: 5px">{{ item.title }}</td>
        <td style="padding: 5px">{{ item.date }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <br>

  <div>
    <h5 class="fw-bold">Abstracts</h5>
    <ul>
      {% for item in site.data.seminar_entries.entries %}
      <li> <b>{{ item.title }}.</b> {{ item.abstract }} </li>
      {% endfor %}
    </ul>
  </div>

</div>
