---
layout: default
---

<!-- Makes the "Seminar" page -->

<div class="row g-5 mb-5">
  <div>
    <h4 class="fw-bold">Graduate Student Seminar</h4>
    I am co-organizing Notre Dame's Graduate Student Seminar with Ilya Marchenko. The current and past schedules can be found here, and this page has the schedule for Spring 2022.

    <br><br>

    We meet on Thursday at 2 PM EST (unless otherwise specified) and all talks are streamed <a href="https://notredame.zoom.us/j/95815357423" target=_blank>on Zoom</a>. Online attendees are welcome!
  </div>

  <br><br>

  <div>
    <table style="width:100%; border:3px solid black;border-collapse;collapse">
      <tr style="3px solid black;border-collapse;collapse">
        <th style="width:15%;3px solid black;border-collapse;collapse">Speaker</th>
        <th style="width:15%;3px solid black;border-collapse;collapse">Affiliation</th>
        <th style="width:60%;3px solid black;border-collapse;collapse">Title</th>
        <th style="width:10%;3px solid black;border-collapse;collapse">Date</th>
      </tr>

      {% for item in site.data.seminar_entries.entries %}
      <tr>
        <td style="3px solid black;border-collapse;collapse">{{ item.name }}</td>
        <td style="3px solid black;border-collapse;collapse">{{ item.affiliation }}</td>
        <td style="3px solid black;border-collapse;collapse">{{ item.title }}</td>
        <td style="3px solid black;border-collapse;collapse">{{ item.date }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
