---
layout: default
---

<!-- Makes the "Seminar" page -->

<div class="row g-5 mb-5">
  <div>
    <h4 class="fw-bold">Graduate Student Seminar</h4>
    I am co-organizing Notre Dame's Graduate Student Seminar with Ilya Marchenko. The current and past schedules can be found here, and this page has the schedule for Spring 2022.

    <br><br>

    We meet on Thursday at 2 PM EST (unless otherwise specified) and all talks are streamed <a href="https://notredame.zoom.us/j/95815357423" target=_blank>on Zoom</a>. Online attendees are welcome!
  </div>

  <br><br>

  <div>
    <table border="2px solid black" style="width:100%">
      <tr border="2px solid black">
        <th style="width:15%">Speaker</th>
        <th style="width:15%">Affiliation</th>
        <th style="width:60%">Title</th>
        <th style="width:10%">Date</th>
      </tr>

      {% for item in site.data.seminar_entries.entries %}
      <tr>
        <td border="2px solid black">{{ item.name }}</td>
        <td border="2px solid black">{{ item.affiliation }}</td>
        <td border="2px solid black">{{ item.title }}</td>
        <td border="2px solid black">{{ item.date }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
